Description=rethinkdb.service
After=docker.service
Requires=docker.service

[Service]
Environment=RETHINK_DB_NAME=my-rethinkdb
ExecStartPre=-/usr/bin/docker kill $RETHINK_DB_NAME
ExecStartPre=-/usr/bin/docker rm $RETHINK_DB_NAME
ExecStartPre=-/usr/bin/docker pull rethinkdb
ExecStart=/usr/bin/docker run -p 8080:8080 -p 28015:28015 -p 29015:29015 --name $RETHINK_DB_NAME rethinkdb
ExecStop=/usr/bin/docker stop $RETHINK_DB_NAME
Restart=always

[Install]
WantedBy=multi-user.target
